<!DOCTYPE html>
<html>
    <head>
        <title>ascii-art-web</title>
    </head>
    <body>
        
        <form action="/ascii-art" method="POST">
            <input type="text" placeholder="enter text" name="text">
            <select name="banner">
                <option>shadow</option>
                <option>standard</option>
                <option>thinkertoy</option>
            </select>
            <button type="submit">Generate</button>
        </form>
        <pre>{{.Result}}</pre>

    </body>
</html>
